.letter-ag-plant-logo-5 {
  position: absolute;
  top: 14px;
  left: 1299px;
  width: 124px;
  height: 124px;
  object-fit: cover;
}
.flowers1 {
  margin: 0;
  position: absolute;
  top: 76px;
  left: 589px;
  font-size: var(--font-size-45xl);
  font-weight: 400;
  font-family: var(--font-adamina);
  color: var(--color-gray-200);
}
.marigold-waterproof-vinyl-stic {
  position: absolute;
  top: 163px;
  left: 297px;
  width: 72px;
  height: 65px;
  object-fit: cover;
}
.marigold {
  position: absolute;
  top: 163px;
  left: 75px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-adamina);
  color: var(--color-white);
}
.additionally-if-properly,
.marigolds-have-the,
.them-an-excellent,
.these-bright-orange {
  margin: 0;
}
.these-bright-orange-container {
  position: absolute;
  top: 264px;
  left: 57px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-adamina);
  color: var(--color-white);
  text-align: left;
}
.quick-info1,
.spacing {
  position: absolute;
  left: 57px;
}
.quick-info1 {
  top: 464px;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-100);
}
.spacing {
  top: 544px;
}
.marigold-waterproof-vinyl-stic1 {
  position: absolute;
  top: 619px;
  left: 68px;
  width: 72px;
  height: 65px;
  object-fit: cover;
}
.depth1,
.squre {
  position: absolute;
  top: 717px;
  left: 46px;
}
.depth1 {
  top: 541px;
  left: 231px;
  font-size: var(--font-size-21xl);
}
.sigmetrix-software-gdandt-symb-icon1 {
  position: absolute;
  top: 615px;
  left: 246px;
  width: 69px;
  height: 74px;
  object-fit: cover;
}
.in1 {
  position: absolute;
  top: 716px;
  left: 231px;
  font-size: var(--font-size-21xl);
}
.sun-emoji-11,
.sun1 {
  position: absolute;
  left: 394px;
}
.sun1 {
  top: 539px;
  font-size: var(--font-size-21xl);
}
.sun-emoji-11 {
  top: 616px;
  width: 72px;
  height: 68px;
  object-fit: cover;
}
.full-sun1 {
  position: absolute;
  top: 720px;
  left: 378px;
  font-size: var(--font-size-13xl);
}
.d2095f-1f72-423a-b823-19e23332-icon1 {
  position: absolute;
  top: 617px;
  left: 545px;
  width: 78px;
  height: 73px;
  object-fit: cover;
}
.water1 {
  position: absolute;
  top: 544px;
  left: 546px;
}
.inweek1,
.season1 {
  position: absolute;
  top: 716px;
  left: 523px;
}
.season1 {
  top: 544px;
  left: 704px;
}
.temperature-thermometer-classi1 {
  position: absolute;
  top: 615px;
  left: 710px;
  width: 67px;
  height: 67px;
  object-fit: cover;
}
.frost1,
.warm1 {
  position: absolute;
  top: 714px;
  left: 704px;
}
.frost1 {
  top: 544px;
  left: 886px;
}
.dr-chilly-1-icon1 {
  position: absolute;
  top: 604px;
  left: 883px;
  width: 75px;
  height: 86px;
  object-fit: cover;
}
.germination1,
.not-tolerant {
  position: absolute;
  top: 711px;
  left: 843px;
}
.germination1 {
  top: 546px;
  left: 1025px;
}
.germination-seed-clipart-hd-pn1 {
  position: absolute;
  top: 604px;
  left: 1094px;
  width: 93px;
  height: 78px;
  object-fit: cover;
}
.days2 {
  position: absolute;
  top: 705px;
  left: 1079px;
}
.harvest1,
.sprout-to1 {
  margin: 0;
}
.sprout-to-harvest-container1 {
  position: absolute;
  top: 525px;
  left: 1256px;
}
.calendar-icon-with-month-time1 {
  position: absolute;
  top: 619px;
  left: 1284px;
  width: 74px;
  height: 73px;
  object-fit: cover;
}
.p1 {
  white-space: pre-wrap;
}
.p1,
.weeks1 {
  margin: 0;
}
.weeks {
  position: absolute;
  top: 705px;
  left: 1275px;
}
.content-2 {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: var(--color-forestgreen);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-darkblue);
  font-family: var(--font-abhaya-libre-semibold);
}
