.letter-ag-plant-logo-6 {
  position: absolute;
  top: 14px;
  left: 1284px;
  width: 137px;
  height: 124px;
  object-fit: cover;
}
.fruits1 {
  margin: 0;
  position: absolute;
  top: 44px;
  left: 553px;
  font-size: var(--font-size-45xl);
  font-weight: 400;
  font-family: var(--font-adamina);
  color: var(--color-gray-200);
}
.red-delicious-apples-didnt-al {
  position: absolute;
  top: 122px;
  left: 229px;
  width: 74px;
  height: 83px;
  object-fit: cover;
}
.apple,
.apples-are-one,
.there-are-a {
  position: absolute;
  top: 131px;
  left: 69px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-adamina);
  color: var(--color-white);
}
.apples-are-one,
.there-are-a {
  top: 226px;
  left: 27px;
  font-size: var(--font-size-9xl);
}
.there-are-a {
  top: 291.6px;
  transform: rotate(-0.05deg);
  transform-origin: 0 0;
}
.is-almost-always-necessary,
.it-is-worth {
  margin: 0;
}
.it-is-worth-container {
  position: absolute;
  top: 352px;
  left: 33px;
  font-size: var(--font-size-9xl);
  font-family: var(--font-adamina);
  color: var(--color-white);
}
.quick-info4 {
  position: absolute;
  top: 458px;
  left: 45px;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-100);
}
.spacing3 {
  position: absolute;
  top: 546px;
  left: 53px;
}
.red-delicious-apples-didnt-al1 {
  position: absolute;
  top: 597px;
  left: 76px;
  width: 74px;
  height: 83px;
  object-fit: cover;
}
.squres,
.sun4 {
  position: absolute;
  top: 707px;
  left: 33px;
}
.sun4 {
  top: 546px;
  left: 312px;
  font-size: var(--font-size-21xl);
}
.sun-emoji-14 {
  position: absolute;
  top: 606px;
  left: 303px;
  width: 72px;
  height: 68px;
  object-fit: cover;
}
.full-sun4 {
  position: absolute;
  top: 707px;
  left: 285px;
  font-size: var(--font-size-13xl);
}
.water4 {
  position: absolute;
  top: 547px;
  left: 496px;
}
.d2095f-1f72-423a-b823-19e23332-icon4 {
  position: absolute;
  top: 607px;
  left: 503px;
  width: 78px;
  height: 73px;
  object-fit: cover;
}
.inweek4,
.season4 {
  position: absolute;
  top: 704px;
  left: 467px;
}
.season4 {
  top: 547px;
  left: 727px;
}
.temperature-thermometer-classi4 {
  position: absolute;
  top: 607px;
  left: 745px;
  width: 67px;
  height: 67px;
  object-fit: cover;
}
.perennial1 {
  position: absolute;
  top: 707px;
  left: 705px;
}
.dr-chilly-1-icon4,
.frost4 {
  position: absolute;
  top: 546px;
  left: 975px;
}
.dr-chilly-1-icon4 {
  top: 601px;
  width: 75px;
  height: 86px;
  object-fit: cover;
}
.tolerant1 {
  position: absolute;
  top: 696px;
  left: 949px;
}
.harvest4,
.sprout-to4 {
  margin: 0;
}
.sprout-to-harvest-container4 {
  position: absolute;
  top: 749px;
  left: 229px;
}
.content-3 {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: var(--color-forestgreen);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-darkblue);
  font-family: var(--font-abhaya-libre-semibold);
}
