.letter-ag-plant-logo-8 {
  position: absolute;
  top: 14px;
  left: 1303px;
  width: 120px;
  height: 124px;
  object-fit: cover;
}
.onion {
  margin: 0;
  position: absolute;
  top: 69px;
  left: 53px;
  font-size: var(--font-size-45xl);
  font-weight: 400;
  font-family: var(--font-adamina);
  color: var(--color-gray-200);
}
.onion-clipart-onions-onion-c {
  position: absolute;
  top: 72px;
  left: 269px;
  width: 78px;
  height: 80px;
  object-fit: cover;
}
.they-are-easy {
  position: absolute;
  top: 174px;
  left: 488px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-adamina);
  color: var(--color-white);
}
.have-a-higher,
.we-recommend-using {
  margin: 0;
}
.we-recommend-using-container {
  position: absolute;
  top: 225px;
  left: 33px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-adamina);
  color: var(--color-white);
  text-align: left;
}
.quick-info3,
.spacing2 {
  position: absolute;
  left: 33px;
}
.quick-info3 {
  top: 422px;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-100);
}
.spacing2 {
  top: 543px;
}
.onion-yellow-sweet-spanish-25 {
  position: absolute;
  top: 624px;
  left: 53px;
  width: 84px;
  height: 80px;
  object-fit: cover;
}
.depth3,
.squre2 {
  position: absolute;
  top: 751px;
  left: 37px;
}
.depth3 {
  top: 540px;
  left: 211px;
  font-size: var(--font-size-21xl);
}
.sigmetrix-software-gdandt-symb-icon3 {
  position: absolute;
  top: 630px;
  left: 219px;
  width: 69px;
  height: 74px;
  object-fit: cover;
}
.in3,
.sun3 {
  position: absolute;
  top: 745px;
  left: 210px;
  font-size: var(--font-size-21xl);
}
.sun3 {
  top: 533px;
  left: 379px;
}
.sun-emoji-13 {
  position: absolute;
  top: 629px;
  left: 374px;
  width: 72px;
  height: 68px;
  object-fit: cover;
}
.full-sun3 {
  position: absolute;
  top: 750px;
  left: 356px;
  font-size: var(--font-size-13xl);
}
.d2095f-1f72-423a-b823-19e23332-icon3 {
  position: absolute;
  top: 621px;
  left: 548px;
  width: 78px;
  height: 73px;
  object-fit: cover;
}
.inweek3,
.season3 {
  position: absolute;
  top: 746px;
  left: 518px;
}
.season3 {
  top: 528px;
  left: 701px;
}
.temperature-thermometer-classi3 {
  position: absolute;
  top: 621px;
  left: 718px;
  width: 67px;
  height: 67px;
  object-fit: cover;
}
.cool,
.frost3 {
  position: absolute;
  top: 739px;
  left: 722px;
}
.frost3 {
  top: 525px;
  left: 887px;
}
.dr-chilly-1-icon3 {
  position: absolute;
  top: 603px;
  left: 889px;
  width: 75px;
  height: 86px;
  object-fit: cover;
}
.germination3,
.tolerant {
  position: absolute;
  top: 734px;
  left: 870px;
}
.germination3 {
  top: 525px;
  left: 1021px;
}
.germination-seed-clipart-hd-pn3 {
  position: absolute;
  top: 603px;
  left: 1070px;
  width: 93px;
  height: 78px;
  object-fit: cover;
}
.days3 {
  position: absolute;
  top: 727px;
  left: 1053px;
}
.harvest3,
.sprout-to3 {
  margin: 0;
}
.sprout-to-harvest-container3 {
  position: absolute;
  top: 483px;
  left: 1269px;
}
.calendar-icon-with-month-time3 {
  position: absolute;
  top: 603px;
  left: 1292px;
  width: 74px;
  height: 73px;
  object-fit: cover;
}
.days4,
.water3 {
  position: absolute;
  top: 722px;
  left: 1241px;
}
.water3 {
  top: 536px;
  left: 547px;
}
.content-5 {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: var(--color-forestgreen);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-darkblue);
  font-family: var(--font-abhaya-libre-semibold);
}
